*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

.container{
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    padding: 1% 1% 5% 1%;
    margin: 0% 0% 5% 0%;
}

.nav{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;

}

.links{
    word-spacing: 100px ;
    text-align: center;
    display: flex;
    background-color: rgba(77, 77, 77, 0.438);
    color: red ;
}
.point{
    color:rgba(0, 0, 0, 0)
}
.texto{

    font-size: 150%;
    border: 100px;
    margin-left: 10%;
    margin-right: 8,8%;
    text-align: left;
    color:white;
    font-weight: 100;
    
}
.button{
    border-bottom: 5px solid red;
    border: 30px;
    margin-left: 10%;
    margin-right: 8,8%;
    text-align: left;
    color: rgb(69, 66, 255);
    display: inline-block ;
    font-size: 16px;

}

.footer{
    margin: 5%;
    border: 5%;
    padding: 5%;
    width: 10px;
    height: 10px;
    list-style: none;

}