.nav{
    color: black;
    text-align:left;
    font-weight: 900;
    font-family: cursive;
    /*clear: both;*/
    font-weight: 900;
    /*float: right;*/
    width: 100%;
    
}
.hoola{
    color: red;
}